@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    cursor: pointer;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,.navbar a.active {
    color: #00abf0;
}

#home {
    height: 100vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: #ededed;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:nth-child(1):hover {
    color: #00abf0;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a:hover::before {
    width: 100%;
}

#about {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.about-content h2 {
    font-size: 60px;
    font-weight: 600;
}

.about-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-skills a {
    font-size: 100px;
    text-decoration: none;
    color: #00abf0;
}

.skills-bars {
    width: 50%;
}

.skills-bars div {
    margin: 20px 0;
}

#services {
    height: 50vh;
    background: #081b29;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-content h2 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    line-height: 2;
}

.service-icons p {
    font-size: 86px;
    float: left;
    line-height: .2;
    margin: 0 50px;
    text-align: center;
    color: #00abf0;
}

.service-icons p span {
    font-size: 36px;
    color: #ededed;
}

#projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-content h2 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    line-height: 2;
}

.projects-content h2 span {
    color: #00abf0;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 30px 30px;
    float: left;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #081b29;
    color: #ededed;
    transform: rotateY(180deg);
}

.flip-card-back h1 {
    color: #00abf0;
}

.footer {
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.copy {
    font-size: 14px;
    text-decoration: none;
}

.footer .soci a {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: .3s;
}

.footer .soci a:hover,.navbar a.active {
    color: #00abf0;
}
